ex/****** General ***********/
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
* {
    font-family: 'Raleway', sans-serif;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    justify-content: center;
}
h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
h4{
    margin-top: 5px;
}
p{
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}
.main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*header*/
.header img{
    height: 19px;
    width: auto;
    position: relative;
    top: 15px;
}
.header a:hover {
    border-top: 2px solid var(--main-color) ;
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px; 
   line-height: 16px;
  }
.header-right {
    display: flex;
    float: right;
    position: relative;
    top: -5px;
}
.header-right a{
    font-size: 16px; 
    font-weight: 400;
    margin-left: 50px;
    position: relative;
    padding: 10px;
    text-align: center;
} 

/*** Début du body ***/

h1{
    font-size: 22px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 8px;
}
span{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 35px;
}

/*Barre de recherche par ville*/

.search-mobile{
    display: none;
}
.form-research{
    /*width: 60%;*/
}
.search-label .fa-solid{
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px ;
    color: black;
    font-size: 18px;
    padding: 15.5px 15px;
}
.search{/*
    width: 20vw;*/
    max-width: 195px;
    border: 1px solid var(--main-bg-color);
    border-right:none;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 35px;
    padding: 14px; 
    text-align: center;
}
.btn-explore{
    height: 51px;/*
    width: 20vw;*/
    max-width: 132px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--main-bg-color);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 16px;  
    text-align: center;
}
.btn-explore .fa-solid{
    color: white;
}

/*section_filtres*/

.section-filtres{
    display: flex;
}
.title-filtres{
    line-height: 18px;
    font-size: 17px;
    margin-bottom: 15px;
    margin-right: 0px;
    /*vertical-align: middle;*/
}
.boutons-filtres{
  margin-bottom: 35px;
  display: flex;
}
.btn-filtre{
    height: 50px;
    background: white;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
    padding: 4px 19px;
}
.btn-filtre .fa-solid{
    font-size: 22px;
    margin-right: 10px;
}
.btn-filtre:hover{
    background: var(--filter-bg-color);
}
.infos{
    display: flex;
    margin-left: 10px;
}
.infos .fa-solid{
    margin-right: 10px;
}

/*code commun à Hébergements populaires activites*/

.hebergements a, .activites a {
    width: 100%;
    margin: 0;
    padding: 0;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-activites {
    background-color: none;
    border-radius: 20px;
    padding: 1px; 
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-activites img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}
.card-activites .card-title{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 10px;
}
.card-subtitle{
    margin: 0;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color);
}
.card-subtitle{
    font-size: 14px;
}

/*Hebergements And Populaires*/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
}
.hebergements-title {
    display: flex;
    align-items: center;
}
.hebergements-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements-cards .card {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
}
.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    box-sizing: border-box;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/

.populaires {
    display: flex;
    flex-direction: column;
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.populaires-cards .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***Activités à Marseilles***/

.activites {
    width: 100%;
    display: flex;
}
.activites section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.marseille-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.marseille-cards .card-activites{
    margin: 0;
    padding: 0;
    width: 22%;
    display: flex;
    margin-top: 33px;
    border: 2px solid var(--main-bg-color);
    box-shadow: 5px 5px var(--main-bg-color) ;
}
.marseille-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/*Footer*/

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--main-bg-color);
    border-radius: 20px;
    margin-top: 20px; 
}
.footer ul{
    margin-left: 0;
    padding-left: 15px;
}
.footer ul li {
    list-style: none;
    margin-left: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
/*header*/

.main-container {
    max-width: 1024px;
    padding: 0 20px;
    box-sizing: border-box;
}
/**Filtres 1024px**/

.section-filtres{
    display: flex;
    flex-direction: column;
}
/**Hebergements and populaires 1024px**/

.hebergements-and-populaires {
    flex-direction: column;
}
.hebergements {
     width: 100%;
}
.populaires {
    width: 100%;
    margin-top: 50px;
}
.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.populaires-cards .card {
    width: 30%;
}
.populaires-cards .card-title {
    font-size: 14px;
}
.populaires-cards .card-subtitle {
    font-size: 14px;
}

/*activité 1024px*/
/*
.marseilles-cards .card {
    height: 270px;
    width: 22%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: left;
    align-items: center;
    margin-top: 33px;
    border: 2px solid var(--main-bg-color);
    box-shadow: 5px 5px var(--main-bg-color) ;
}*/
.activites .marseille-cards img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

/*Général*/
.main-container {
    max-width: 767.98px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.euro{
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    padding-bottom: 20px;
}
body{
    text-align: center;
}

/*header 768px*/

.header{
    margin: 0;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
   
}
.header .logo{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.header-right{
    width: 100%;
    height: auto;
}
.header-right a{
    margin: 0;
    width: 100%;
}
.header a:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color) ;
    color: var(--main-color);  
}

/*bouton de recherche 768px*/

.search-desktop{
    display:none;
}
.seek{
    display: flex;
    margin: 0;
    padding: 0;
}
.search-mobile{
    width: 100%;
    display: flex;
    justify-content: center;  
}
.form-research{
    width: 100%;
    margin: 0;
    padding: 0;
}
.search-label .fa-solid{
    background: var(--main-bg-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
    color: black;
    font-size: 16px;
    padding: 17px 15px;
}
.search-mobile .btn-explore{
    border-radius: 15px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);;
    height: 50px;
    margin-left: -25px; 
    max-width: 50px; 
}
.search-mobile .search{
    width:70%;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    text-align: left;
}
/* filtres 768px*/

.title-filtres{
    text-align: left;
}
.boutons-filtres{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filtres-part {
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
}
.btn-filtre{
    width: 45%;
    font-size: 14px;
    max-width: 163px;
    margin-bottom: 20px;
}
.fa-solid{
    font-size: 14px;
}
.infos{
    text-align: left;
    padding: 0;
    margin-bottom: 0;
}

/*section hébergements and populaires 768px*/

.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin:0;
    padding: 0;
}
.hebergements-and-populaires section {
    background-color: white;
    border-radius: 0;
    padding: 0px;
    box-sizing: border-box;
}
.populaires{
    margin-bottom: 20px;
    margin-top: 20px;
}
.hebergements-and-populaires section + .populaires {
    padding-top: 20px;
    background: var(--main-bg-color);
}
.populaires-cards, .hebergements-cards{
    display: flex;
    flex-direction: column;
}
.populaires-cards .card, .hebergements-cards .card{
    margin-left: 10px;
    margin-right: 20px;
    width: auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.populaires-cards .card-txt{
    margin-left: 15px;
    margin-right: 5px;
}
.populaires-cards .card-title {
    font-size: 16px;
}
.populaires-cards .card-rating{
    margin-left: 15px;
}
.populaires-cards .card {
    text-align: left;
    margin-bottom: 30px;
}
.populaires-cards .card img{
    height: 146px;
}
.hebergements-cards{
    text-align: left;
    width: 100%;
}
/*Activités à Marseille 768px*/

.activites section{
    width: 100%;
}
.activites .marseille-cards .card{
    width: 100%
}
.marseille-title h2{
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}
.marseille-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.marseille-cards .card-activites {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
    border: 2px solid var(--main-bg-color);
    filter: drop-shadow(1px 3px 15px rgba(25, 25, 25, 0.1));
}
.marseille-cards .card-txt{
    text-align: left;
    margin-left: 15px;
}

/*Footer 768px*/

.footer{
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    margin-top: 20px; 
    border-radius: 0;
}
ul li {
    text-align: left;
}
 
}